/* desktop */
@media only screen and (min-width:992px) {
    .brik-container{
        height: 600px;
        width: auto;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .brik-Background-Image{
        height: 600px;
        width: auto;
    }
    .Background-Image-div{
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .content-one{
        height: 600px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        position: relative;
    }
    .content-one-container{
        max-height: 100%;
        max-width: 100%;
    }
    
    .Hero-Image{
        height: 90%;
    }
    .Hero-Image-Tag{
        max-height: 90%;
        max-width: 90%;
        object-fit: fill;
        animation: image 1s forwards;
    } 
    .content-two{
        height: 600px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 10px;
        padding-left: 40px;
    }
    
    .content-two-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    
    .Title-Tag,.text-Tag,.button-div{
        text-align: start;
        animation: content 1s ease;
    }
    .Title-Tag{
        width: 80%;
       
    }
    .text-Tag{
        width: 80%;
        
    }
    @keyframes content {
        from { transform: translateY(-100%); }
        to { transform: translateY(0); }
    }
    @keyframes image {
        from { transform: translateX(-100%); }
        to { transform: translateY(0); }
    } 
    
}
/* mobile */
@media only screen and (min-width:350px) and (max-width: 600px) { 
    .brik-container{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
    }

    .brik-Background-Image{
        height: 100vh;
        width: auto;
    }
    .Background-Image-div{
        height: 100%;
        width: 100%;
        /* position: absolute; */
    }
    .content-one{
        height: 50%;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        position: absolute;
    }
    .content-one-container{
        max-height: 100%;
        max-width: 100%;
        position: absolute;
    }
    .Hero-Image{
        padding-top: 20px;
        height: 70%;
    }
    .Hero-Image-Tag{
        max-height: 90%;
        max-width: 90%;
        object-fit: fill;
        animation: image 1s forwards;  
    } 
    .content-two{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute; 
        top: 40%;   
    }
    .content-two-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .Title-Tag{
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-Tag{
        padding-left: 20px;
        padding-right: 20px;
    }
  }

  @media only screen and (min-width: 600px) {
    .brik-container{
        height: 600px;
        width: auto;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .brik-Background-Image{
        height: 600px;
        width: auto;
    }
    .Background-Image-div{
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .content-one{
        height: 600px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        position: relative;
    }
    .content-one-container{
        max-height: 100%;
        max-width: 100%;
    }
    
    .Hero-Image{
        height: 90%;
    }
    .Hero-Image-Tag{
        max-height: 90%;
        max-width: 90%;
        object-fit: fill;
        animation: image 1s forwards;
    } 
    .content-two{
        height: 600px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 10px;
        padding-left: 40px;
    }
    
    .content-two-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    
    .Title-Tag,.text-Tag,.button-div{
        text-align: start;
        animation: content 1s ease;
    }
    .Title-Tag{
        width: 80%;
       
    }
    .text-Tag{
        width: 80%;
        
    }
    @keyframes content {
        from { transform: translateY(-100%); }
        to { transform: translateY(0); }
    }
    @keyframes image {
        from { transform: translateX(-100%); }
        to { transform: translateY(0); }
    } 
  }